# PostgreSQL User Service
POSTGRES_USER_HOST=user-db
POSTGRES_USER_PORT=5432
POSTGRES_USER_DB=user_service_db
POSTGRES_USER_USER=user_admin
POSTGRES_USER_PASSWORD=user_admin

# PostgreSQL Order Service
POSTGRES_ORDER_HOST=order-db
POSTGRES_ORDER_PORT=5432
POSTGRES_ORDER_DB=order_service_db
POSTGRES_ORDER_USER=order_admin
POSTGRES_ORDER_PASSWORD=order_admin

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password

# RabbitMQ
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=rabbitmq_password

# Service URLs
USER_SERVICE_URL=http://user-service:8001
ORDER_SERVICE_URL=http://auth-service:8002